body {
  font-family: monospace, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #81a0cf;
  color: white;
  padding: 1em;
  text-align: center;
}

.top-navigation {
  text-align: right;
  margin-top: -25px; 
}

.top-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top-navigation li {
  display: inline;
  margin-left: 15px; 
}

.top-navigation a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background: rgb(89, 86, 134);
  padding: 0.5em;
  border-radius: 0.2em;
}

.top-navigation a:hover {
  background: rgb(115, 139, 115);
}


.content {
  padding: 20px;
}

footer {
  background-color: #81a0cf;
  color: white;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

section img {
  width: 50%;
 border: 2px dotted;
 display: flex;
 justify-content: center; /*kan afbeelding niet in het midden plaatsen*/
 align-self: center;
}

